:root{
    --colorOne:rgb(195, 240, 195);
    --colorTwo:rgb(224, 12, 58);
    --colorTres:rgb(91, 223, 201);

}
.App{
    width: 100%;
    min-height: 200%;
}
.Home{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    box-sizing: border-box;
    background-color: var(--colorOne);
}
.container{
    min-height: 500px;
    width: 95%;
    margin: 0 50px;
}
.stuck-nav {
    width: 100%;
    height: 50px;
    align-items: center;
    background-color: var(--colorTres);
    display: inline-flex;
    font-size: 18px;
    cursor: pointer;
}
#exLeft{
    position: relative;
    left: 3%;
}

#exLeft #ico{
    margin: 4px 5px;
}

#exRight{
    position: relative;
    margin-left: 4px;
    left: 66%;
    
}
#exRight #track{
    margin-right: 15px;
}

.searchBar{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    gap: 5px;
    min-height: 150px;
    align-items: center;
    background-color: var(--colorOne);

}
.searchCont{
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 4px;
    margin-top: 4px;
}
#search{
    color: black;
    width: 100%;
    height: 10%;
    display: inline-flex;
    border: 6px var(--colorTwo) solid;
    border-radius: 50px;
    margin-top: 15px;
}
.topSearch{
    font-size: 15px;
    display: inline-flex;
}
.topS{
    text-align: center;
    border-radius: 5px;
    min-height: 25px;
    min-width: 40px;
    background-color: var(--colorTwo);
    color: white;
    margin-right: 4px;
    text-decoration: none;
    padding-right: 5px;
    padding-left: 5px;
}
.topS:hover{
    background-color: rgb(245, 134, 8);
}
#cart,#userAcc{
    margin-top: 25px;
}
.icon{
    position: relative;
    top: 25%;
    color: orangered;
    width: 2em;
    height: 1em;
}
#search  input{
    position: relative;
    left: 8%;
    top: 10px;
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    border: none;
    background-color: transparent;
}

#search button{
    border-top-right-radius:10px ;
    border-bottom-right-radius: 10px;
    background-color:var(--colorTwo);
    border: none;
    color: white;
    height: 40px;
}
#search select{
    height: 40px;
    font-size: 15px;
    border: none;
}

#cart{
    align-items: center;
    cursor: pointer;
}
#userAcc{
    align-items: center;
    cursor: pointer;
}

#search i{
    left: 20px;
    font-size: 15px;
    color: var(--colorTwo);
}
#logoImg img{
    max-width: 200px;
    max-height: 100px;
}

#top{
    display: inline-flex;
    background-color: var(--colorTwo);
    align-items: center;
    width: 100%;
    line-height: 20px;
    justify-content: space-evenly;
    height: 50px;
}
#top h2{
    font-size: 15px;
    text-align: center;
}
.category{
    width: 100%;
    margin:0px;
    min-height: 450px;
    display:flex;
    flex-direction: row;
    align-content:flex-start;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.navbar .SideBar{
    background-color: white;
    min-width: 18%;
    min-height: 100%;
}
.SideBar li{
    list-style-type: none;
    margin-bottom: 6px;
    position: relative;
    right: 25px;
    min-width: 100%;
    display: flex;
    justify-content: flex-end;
}
.SideBar a{
    padding: 2px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 30px;
    font-size: 16px;
    color: #0d0d0e;
    text-decoration: none;
}
.SideBar a .icon{
    display: flex;
    justify-content: flex-start;
    width: 30px;
    color: #0d0e0d;
}
.SideBar a:hover{
    background-color:var(--colorTwo);
    color: rgb(246, 248, 248);
}

.iconB{
    display: flex;
    justify-content: flex-end;
    margin-left: 5px;
   color: rgb(8, 8, 8);
}
.flashSlide{
    width: 550px;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
.flashSlide .title{
    text-align: left;
    font-size: 10px;
    color: black;
    height: 50px;
    width: 215%;
    margin-left: 50px;
}
.ShowSlide{
    width: 215%;
    min-height: 400px;
    text-align: center;
}
.newItem{
    width: 100%;
    margin-top: 40px;
    width: 100%;
    min-height: 200px;
    display:inline-flex;
    flex-direction: row;
    gap: 50px;
}
.items{
    align-items: center;
    width: 250px;
    min-height: 100%;
    background-color: var(--colorTwo);
}