
*{
    font-family: Open Sans,Roboto,Helvetica,sans-serif,Arial;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.paps{
    background-color: lightgray;
    height: 100vh;
}
.image{
    width: 40%;

}
.image img{
    height: 70%;
    width: 70%;
    margin-left: 100px;
    margin-top: 20px;
}
.dets{
    padding-right: 30px;
}
.modal {
    top: '35%';
    left: '50%';
    right: 'auto';
    bottom: 'auto';
    margin-right: '-50%';
    width: '20%';
    transform: 'translate(-40%, -10%)';
    background-color: red;
  }
  